// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for KV260 revA Carrier Card
 *
 * (C) Copyright 2020 - 2021, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/media/xilinx-vip.h>
#include <dt-bindings/clock/xlnx-zynqmp-clk.h>
#include <dt-bindings/power/xlnx-zynqmp-power.h>

/dts-v1/;
/plugin/;

&{/} {
	compatible = "xlnx,zynqmp";
	model = "VM-410HD revA";
	#address-cells = <2>;
	#size-cells = <2>;
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		image_buf0: image_buf@10000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0 0x10000000 0 0x10000000>; // 256MB
		};
		display_reserved: framebuffer@70000000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0 0x70000000 0 0x00800000>; // 8MB
		};
	};
	framebuffer0: framebuffer@70000000 {
                compatible = "simple-framebuffer";
                reg = <0 0x70000000 0 (1920 * 1080  * 2)>;
                width = <1920>;
                height = <1080>;
                stride = <(1920 * 2)>;
                format = "r5g6b5";
		clocks = <&misc_clk_0>;
        };
};

&gpio {
	emio-gpio-width = <32>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
	status = "okay";
};

&gpu {
	status = "okay";
	xlnx,tz-nonsecure = <0x1>;
};

&spi1 { /* MIO6, 9-11 */
    status = "disabled";
};

&rtc {
	status = "disabled";
};

&i2c1 { /* I2C_SCK C23/C24 - MIO from SOM */
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1_default>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	scl-gpios = <&gpio 24 GPIO_ACTIVE_HIGH>;
	sda-gpios = <&gpio 25 GPIO_ACTIVE_HIGH>;

	/* u43 - 0x2d - USB hub */
	/* u27 - 0xe0 - STDP4320 DP/HDMI splitter */
	/* u24 - 0x6f - MCP7940NT-I/MNY RTC */
	rtc_i2c1: mcp7940x@6f {
		compatible = "microchip,mcp7940x";
		reg = <0x6f>;
	};
};

&amba {
	clk_27: clk_27 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
	};

	clk_26: clk_26 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};
};

/* DP/USB 3.0 */
&psgtr {
	status = "okay";
	/* pcie, usb3, sata */
	clocks = <&clk_27>, <&clk_26>;
	clock-names = "ref1", "ref2";
};

&zynqmp_dpsub {
	status = "okay";
	phy-names = "dp-phy0", "dp-phy1";
	phys = <&psgtr 1 PHY_TYPE_DP 0 1>, <&psgtr 0 PHY_TYPE_DP 1 1>;
        clocks = <&dp_aclk>, <&zynqmp_clk DP_AUDIO_REF>, <&zynqmp_clk DP_VIDEO_REF>; //, <&video_clk_wiz>;
        clock-names = "dp_apb_clk", "dp_aud_clk", "dp_vtc_pixel_clk_in"; //, "dp_live_video_in_clk";
	assigned-clock-rates = <27000000>, <25000000>, <300000000>; //, <262750170>;
};

&zynqmp_dpdma {
	status = "okay";
	assigned-clock-rates = <600000000>;
};

&usb0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
	phy-names = "usb3-phy";
	phys = <&psgtr 2 PHY_TYPE_USB3 0 2>;
	assigned-clock-rates = <250000000>, <20000000>;

	usb5744: usb-hub { /* u43 */
		status = "okay";
		compatible = "microchip,usb5744";
		i2c-bus = <&i2c1>;
		reset-gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
	};
};

&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	snps,usb3_lpm_capable;
	maximum-speed = "super-speed";
};

&sdhci0 {
	assigned-clock-rates = <187499999>;
};

&sdhci1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	disable-wp;
	xlnx,mio-bank = <1>;
	clk-phase-sd-hs = <126>, <60>;
	clk-phase-uhs-sdr25 = <120>, <60>;
	clk-phase-uhs-ddr50 = <126>, <48>;
	assigned-clock-rates = <187499999>;
	bus-width = <8>;
};

&gem3 { /* required by spec */
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem3_default>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@1 {
			#phy-cells = <1>;
			reg = <0>;
		};
	};
};

&pinctrl0 { /* required by spec */
	status = "okay";

	pinctrl_uart1_default: uart1-default {
		conf {
			groups = "uart1_9_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
			drive-strength = <12>;
		};

		conf-rx {
			pins = "MIO37";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO36";
			bias-disable;
		};

		mux {
			groups = "uart1_9_grp";
			function = "uart1";
		};
	};

	pinctrl_i2c1_default: i2c1-default {
		conf {
			groups = "i2c1_6_grp";
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		mux {
			groups = "i2c1_6_grp";
			function = "i2c1";
		};
	};

	pinctrl_i2c1_gpio: i2c1-gpio {
		conf {
			groups = "gpio0_24_grp", "gpio0_25_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		mux {
			groups = "gpio0_24_grp", "gpio0_25_grp";
			function = "gpio0";
		};
	};

	pinctrl_gem3_default: gem3-default {
		conf {
			groups = "ethernet3_0_grp";
			slew-rate = <SLEW_RATE_FAST>;
			drive-strength = <12>;
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO70", "MIO72", "MIO74";
			bias-high-impedance;
			low-power-disable;
		};

		conf-bootstrap {
			pins = "MIO71", "MIO73", "MIO75";
			bias-disable;
			low-power-disable;
		};

		conf-tx {
			pins = "MIO64", "MIO65", "MIO66",
				"MIO67", "MIO68", "MIO69";
			bias-disable;
			low-power-enable;
		};

		conf-mdio {
			groups = "mdio3_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		mux-mdio {
			function = "mdio3";
			groups = "mdio3_0_grp";
		};

		mux {
			function = "ethernet3";
			groups = "ethernet3_0_grp";
		};
	};

	pinctrl_usb0_default: usb0-default {
		conf {
			groups = "usb0_0_grp";
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO52", "MIO53", "MIO55";
			bias-high-impedance;
			drive-strength = <12>;
			slew-rate = <SLEW_RATE_FAST>;
		};

		conf-tx {
			pins = "MIO54", "MIO56", "MIO57", "MIO58", "MIO59",
			"MIO60", "MIO61", "MIO62", "MIO63";
			bias-disable;
			drive-strength = <4>;
			slew-rate = <SLEW_RATE_SLOW>;
		};

		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};
	};

	pinctrl_sdhci1_default: sdhci1-default {
		conf {
			groups = "sdio1_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		conf-cd {
			groups = "sdio1_cd_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
		};

		mux-cd {
			groups = "sdio1_cd_0_grp";
			function = "sdio1_cd";
		};

		mux {
			groups = "sdio1_0_grp";
			function = "sdio1";
		};
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_default>;
};

&amba {
	#address-cells = <2>;
	#size-cells = <2>;
	uio_sdirxss: uio_sdirxss@80040000 {
		// UHDSDI Rx Subsystem
		compatible = "vm410hd-uio";
		reg = <0x0 0x80040000 0x0 0x10000>;
	};
	uio_vtc: uio_vtc@80050000 {
		// Video Timing Controller
		compatible = "vm410hd-uio";
		reg = <0x0 0x80050000 0x0 0x10000>;
	};
	afi0: afi0 {
		compatible = "xlnx,afi-fpga";
		config-afi = < 0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 2>, <11 2>, <12 0>, <13 0>, <14 0x200>, <15 0x000>;
	};
	clocking0: clocking0 {
		#clock-cells = <0>;
		assigned-clock-rates = <99999001>;
		assigned-clocks = <&zynqmp_clk 71>;
		clock-output-names = "fabric_clk";
		clocks = <&zynqmp_clk 71>;
		compatible = "xlnx,fclk";
	};
	sdirxss_v_frmbuf_wr_0: v_frmbuf_wr@80000000 {
		#dma-cells = <1>;
		clock-names = "ap_clk";
		clocks = <&misc_clk_0>;
		compatible = "xlnx,v-frmbuf-wr-2.4", "xlnx,axi-frmbuf-wr-v2.2";
		interrupt-names = "interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 90 4>;
		reg = <0x0 0x80000000 0x0 0x10000>;
		reset-gpios = <&gpio 106 1>;
		xlnx,dma-addr-width = <64>;
		xlnx,dma-align = <16>;
		xlnx,max-height = <2160>;
		xlnx,max-width = <3840>;
		xlnx,pixels-per-clock = <2>;
		xlnx,s-axi-ctrl-addr-width = <0x7>;
		xlnx,s-axi-ctrl-data-width = <0x20>;
		xlnx,vid-formats = "uyvy", "vuy888", "xvuy8888", "yuvx2101010", "yuyv", "nv16", "xv20", "xv15";
		xlnx,video-width = <10>;
	};
	misc_clk_0: misc_clk_0 {
		#clock-cells = <0>;
		clock-frequency = <224997750>;
		compatible = "fixed-clock";
	};
	misc_clk_1: misc_clk_1 {
		#clock-cells = <0>;
		clock-frequency = <148500000>;
		compatible = "fixed-clock";
	};
	misc_clk_2: misc_clk_2 {
		#clock-cells = <0>;
		clock-frequency = <99999000>;
		compatible = "fixed-clock";
	};
	vcu_0: vcu@80100000 {
		#address-cells = <2>;
		#clock-cells = <1>;
		#size-cells = <2>;
		clock-names = "pll_ref", "aclk", "vcu_core_enc", "vcu_mcu_enc", "vcu_core_dec", "vcu_mcu_dec";
		clocks = <&misc_clk_3>, <&misc_clk_2>, <&vcu_0 0>, <&vcu_0 1>, <&vcu_0 2>, <&vcu_0 3>;
		compatible = "xlnx,vcu-1.2", "xlnx,vcu";
		interrupt-names = "vcu_host_interrupt";
		interrupt-parent = <&gic>;
		interrupts = <0 104 4>;
		ranges ;
		reg = <0x0 0x80140000 0x0 0x1000>, <0x0 0x80141000 0x0 0x1000>;
		reg-names = "vcu_slcr", "logicore";
		reset-gpios = <&gpio 108 0>;
		encoder: al5e@80100000 {
			compatible = "al,al5e-1.2", "al,al5e";
			interrupt-parent = <&gic>;
			interrupts = <0 104 4>;
			reg = <0x0 0x80100000 0x0 0x10000>;
		};
		decoder: al5d@80120000 {
			compatible = "al,al5d-1.2", "al,al5d";
			interrupt-parent = <&gic>;
			interrupts = <0 104 4>;
			reg = <0x0 0x80120000 0x0 0x10000>;
		};
	};
	misc_clk_3: misc_clk_3 {
		#clock-cells = <0>;
		clock-frequency = <49999500>;
		compatible = "fixed-clock";
	};
	vcap_sdirxsdirxss_v_smpte_uhdsdi_rx_ss_0 {
		compatible = "xlnx,video";
		dma-names = "port0";
		dmas = <&sdirxss_v_frmbuf_wr_0 0>;
		memory-region = <&image_buf0>;
		vcap_portssdirxss_v_smpte_uhdsdi_rx_ss_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			vcap_portsdirxss_v_smpte_uhdsdi_rx_ss_0: port@0 {
				direction = "input";
				reg = <0>;
				sdirxss_v_frmbuf_wr_0sdirxss_v_smpte_uhdsdi_rx_ss_0: endpoint {
					remote-endpoint = <&sdirx_outsdirxss_v_smpte_uhdsdi_rx_ss_0>;
				};
			};
		};
	};
	sdirxss_v_smpte_uhdsdi_rx_ss_0: v_smpte_uhdsdi_rx_ss@80040000 {
		clock-names = "sdi_rx_clk", "video_out_clk", "s_axi_aclk";
		clocks = <&misc_clk_1>, <&misc_clk_0>, <&misc_clk_2>;
		compatible = "xlnx,v-smpte-uhdsdi-rx-ss-2.0", "xlnx,v-smpte-uhdsdi-rx-ss";
		interrupt-names = "sdi_rx_irq";
		interrupt-parent = <&gic>;
		interrupts = <0 92 4>;
		reg = <0x0 0x80040000 0x0 0x10000>;
		xlnx,bpp = <10>;
		xlnx,exdes-board = "ZCU106";
		xlnx,exdes-config = "RX_Only";
		xlnx,exdesboard-version = <0x2>;
		xlnx,include-adv-features = "false";
		xlnx,include-axilite = "true";
		xlnx,include-edh = "true";
		xlnx,include-hdr10-extract = "false";
		xlnx,include-hfr = "false";
		xlnx,include-ycbcr-444 = "false";
		xlnx,line-rate = "3G_SDI";
		xlnx,pixels-per-clock = <0x2>;
		xlnx,video-intf = "AXI4_Stream";
		sdirx_portssdirxss_v_smpte_uhdsdi_rx_ss_0: ports {
			#address-cells = <1>;
			#size-cells = <0>;
			sdirx_portsdirxss_v_smpte_uhdsdi_rx_ss_0: port@0 {
				/* Fill the fields xlnx,video-format and xlnx,video-width based on user requirement */
				reg = <0>;
				xlnx,video-format = <0>;
				xlnx,video-width = <10>;
				sdirx_outsdirxss_v_smpte_uhdsdi_rx_ss_0: endpoint {
					remote-endpoint = <&sdirxss_v_frmbuf_wr_0sdirxss_v_smpte_uhdsdi_rx_ss_0>;
				};
			};
		};
	};
};

&qspi {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	spi_flash: flash@0 { /* MT25QU512A */
		compatible = "mt25qu512a", "jedec,spi-nor"; /* 64MB */
		reg = <0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <40000000>; /* 40MHz */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			boot {
				label = "BOOT.BIN";
				reg = <0x0 0xd00000>; /* 13MB */
			};
			partition@0 {
				reg = <0xd00000 0x20000>; /* 128KB */
			};
			partition@80000 {
				reg = <0xd20000 0x20000>; /* 128KB */
			};
			partition@100000 {
				reg = <0xd40000 0x20000>; /* 128KB */
			};
			partition@120000 {
				reg = <0xd60000 0x20000>; /* 128KB */
			};
			partition@140000 {
				reg = <0xd80000 0x20000>; /* 128KB */
			};
			partition@200000 {
				reg = <0xda0000 0x20000>; /* 128KB */
			};
		};
	};

};
